@use "_fonts.scss" as *;
@use "_colors" as *;
@use "_mixin" as *;
@use "_buttons" as *;


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    width: 100vw;
    height: 100vh;
    background-color: $main-dark;
    @include flexColumn;
    justify-content: space-between;


    .hero {
        .line {
            width: 1px;
            height: 20vh;
            background-color: $main-hell;
            margin-bottom: 5%;
        }

        @include flexColumn;
        gap: 5px;
        margin: 0 auto;
        align-items: center;


        h1 {
            @include fontstyle($fontMain, 7rem, $main-hell, 70%);
            text-align: center;
            line-height: 6rem;
        }

        p {
            @include fontstyle($fontSecond, 0.8rem, $main-hell, 70%);
            text-align: center;
        }

        span {
            text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
            color: $main-dark;
        }
    }

    nav {
        @include flexRow;
        justify-content: space-between;
        padding: 5% 5%;
    }
}

.intro {
    background-color: $main-dark;
    width: 100vw;
    padding: 5%;

    h2 {
        @include fontstyle($fontMain, 6rem, $main-hell, 80%);
    }
}

.more {
    width: 100vw;
    background-color: $main-dark;
    padding: 0 5%;
    @include flexRow;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10%;
    padding-bottom: 5%;

    .facts {
        h2 {
            @include fontstyle($fontMain, 6rem, $main-hell, 80%);
            padding-bottom: 2%;
        }

        p {
            @include fontstyle($fontSecond, 0.8rem, $main-hell, 70%);
        }
    }

    img {
        width: 30%;
        height: auto;
    }

}


.fotos {
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: $main-hell;

    h2 {
        @include fontstyle($fontMain, 5rem, $main-dark, 100%)
    }

    p {
        @include fontstyle($fontSecond, 1rem, $main-dark, 80%)
    }

    // img {
    //     width: 20%;
    //     height: auto;
    // }

    // .mainText {
    //     position: absolute;
    //     top: 30%;
    //     left: 30%;
    //     width: 40%;
    // }

    // .secondText {
    //     position: absolute;
    //     top: 80%;
    //     left: 30%;
    //     width: 40%;

    // }

    .mainText {
        @include imgPositionAbsolute(20%, auto, auto, 30%, 40%);
    }

    .secondText {
        @include imgPositionAbsolute(70%, auto, auto, 35%, 25%);
    }

    .img1 {
        @include imgPositionAbsolute(-5%, 10%, auto, auto, 22%);
    }

    .img2 {
        @include imgPositionAbsolute(8%, auto, auto, 8%, 20%);
    }

    .img3 {
        @include imgPositionAbsolute(40%, 0, "", "", 15%);
    }

    .img4 {
        @include imgPositionAbsolute(45%, "", "", 25%, 18%);
    }

    .img5 {
        @include imgPositionAbsolute("", 20%, 30%, "", 18%);
    }

    .img6 {
        @include imgPositionAbsolute("", "", 20%, 0, 15%);
    }

    .img7 {
        @include imgPositionAbsolute("", 15%, 0, "", 25%);
    }

}




.article {}








footer {
    position: relative;
    height: 80vh;

    background-color: $main-dark;
    padding: 5% 5%;



    p {
        @include fontstyle($fontSecond, 0.8rem, $main-hell, 70%);
    }

    .joinUs {
        padding: 5% 0;
        @include flexColumn;
        justify-content: flex-start;
        gap: 20px;
        align-items: flex-start;

        p:last-of-type {
            @include fontstyle($fontSecond, 2rem, $main-hell, 40%);
        }
    }

    .copyright {
        @include flexRow;
        justify-content: space-between;
        align-items: center;

        .social {
            @include flexColumn;
            gap: 15px;

            p {
                max-width: 100%;
            }

            .icons {
                @include flexRow;
                justify-content: flex-start;
                align-items: center;
                gap: 5%;

                img {
                    width: 20px;
                }
            }
        }
    }

    .parteners {
        img {
            height: 50px;
            padding: 2%;
        }
    }
}



.banner {

    h3 {
        @include fontstyle($fontMain, 3rem, $main-dark, 80%);
        text-align: center;

    }

    left: 10%;
    width: 55vw;
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    border: 1px solid green;

}